---
const sandboxUrl = 'https://sandbox.openstatemachine.org'
const engineRepoUrl = 'https://github.com/openstatemachine/engine'
---

<header class="nav">
  <div class="container nav-inner">
    <a class="brand" href="#top">
      <img class="brand-mark" src="/favicon.svg" alt="" width="30" height="30" />
      Open State Machine
    </a>
    <nav class="nav-links">
      <a class="nav-link" href="#features">Features</a>
      <a class="nav-link" href={sandboxUrl}>Sandbox</a>
      <a class="nav-link" href="#how">How it works</a>
      <a class="nav-link" href={engineRepoUrl}>GitHub</a>
      <a class="btn btn-dark" href={engineRepoUrl}>Get started</a>
    </nav>
  </div>
</header>
